# Web Framework & Server
fastapi
uvicorn
python-multipart

# Database & Integration
sqlalchemy
psycopg2-binary
supabase
st-supabase-connection

# Data Science & AI
pandas
numpy
scikit-learn

# Frontend & HTTP
streamlit
requests

# Utilities
python-dotenv
pydantic
pyzbar